body{
  background-color: #A9E2F3;
}

#main{
  font-weight: bold;
  width: 900px;
  margin: 40px auto;
  padding: 30px 80px;
  border: blue 2px solid;
  background-color: white;
}

.photo{
  float: left;
  margin-right: 40px;
}

.plane:after{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
  width: 400px;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}
