body{
  background-color: #A9E2F3;
}

#main{
  width: 796px;
  margin: 40px auto;
  padding: 40px 80px;
  border: blue 2px solid;
  background-color: white;
}

.photo{
  float: left;
  margin-right: 30px;
}

.plane:after{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}
