body{
  background-color: #A9E2F3;
}

#main{
  font-weight: bold;
  width: 900px;
  margin: 40px auto;
  padding: 30px 80px;
  border: blue 2px solid;
  background-color: silver;
}

.photo{
  float: left;
  margin-right: 40px;
}

.plane:after{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
  width: 400px;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 4px;
  width: 100px;
  height 40px;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.btn:hover{
  opacity: 0.6;
}

.btn:active{
  opacity: 1.5;
}

.btn-submit{
  background-color: white;
}

.btn-reset{
  background-color: black;
  color: white;
}

#ingredient{
  border:2px solid blue;
  border-collapse:collapse;
}

th{
  border:1px solid blue;
  background-color:#819FF7;
  padding:5px;
  width:100px;
  text-aline:center;
}

td{
  border:1px solid blue;
  padding:5px;
  width:80px;
  text-aline:right;
}

